<header class="three columns vitae-basic">
  {{ with .Site.Params.gravatar }}
    <img class="me" src="https://www.gravatar.com/avatar/{{ . | md5 }}?s=200&d=identicon"/>
  {{ else }}
    <img class="me" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
  {{ end }}
  <h1>{{ .Site.Params.author }}</h1>
  <p>
    <a href="tel:{{ .Site.Params.vitae.tel_full }}">{{ .Site.Params.vitae.tel }}</a>
  </p>
  <address>
    <a href="{{ .Site.Params.vitae.google_maps }}">
      {{ .Site.Params.vitae.address }}<br/>
      {{ .Site.Params.vitae.postcode }}<br/>
      {{ .Site.Params.vitae.city }}<br/>
      {{ .Site.Params.vitae.country }}
    </a>
  </address>
  <p>
    <a href="{{ .Site.Params.vitae.website_full }}">{{ .Site.Params.vitae.website }}</a><br/>
  </p>
  <p>
<p>
  <ul class="vitae-social-links" >
  {{ if .Site.Params.Social.Email }}
    <li><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.LinkedIn }}
    <li><a href="https://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}"><i class="fa fa-linkedin"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Github }}
    <li><a href="https://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Gitlab }}
    <li><a href="https://gitlab.com/{{ .Site.Params.Social.Gitlab }}"><i class="fa fa-gitlab"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Twitter }}
    <li><a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}"><i class="fa fa-twitter"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Stackoverflow }}
    <li><a href="https://stackoverflow.com/{{ .Site.Params.Social.Stackoverflow }}"><i class="fa fa-stack-overflow"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Medium }}
    <li><a href="https://medium.com/@{{ .Site.Params.Social.Medium }}"><i class="fa fa-medium"></i></a></li>
  {{ end }}

  {{ if .Site.Params.Social.Telegram }}
    <li><a href="https://telegram.me/{{ .Site.Params.Social.Telegram }}"><i class="fa fa-telegram"></i></a></li>
  {{ end }}
  </ul>
</p>
</header>
