{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
        {{ with .Site.Params.gravatar }}
          <img class="img-circle" src="https://www.gravatar.com/avatar/{{ . | md5 }}?s=200&d=identicon"/>
        {{ else }}
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        {{ end }}
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Cloud Infrastructure Engineer.</h3>
        <h3>I'm a nerd, with a big interest in the philosophical, biological, social, and cultural aspects of human life.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more check out my academic &amp; professional <a href="{{ .Site.BaseURL }}resume/">resume</a>.</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
